@charset "UTF-8";

$red : #dc3c38;
$gray : #a3a3a3;
$yellow : #f7b703;

body, div, dl, dt, dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}

table{border-collapse:collapse;border-spacing:0;}

fieldset,img {border:0;}

address,caption, cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}

ol,ul {list-style:none;}

capation,th{text-align:left;}

h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

q:before, q:after{content:' '}

abbr,acronym{border:0;}

html{
    font-size: 10px;
}
*{
    box-sizing : border-box;
}
body{
    font-style: '微软雅黑';
    font-size:1.2rem;
    line-height: 2.4em;
    color: #a3a3a3;
    background: #fff;
}

input{
    outline: none;
    border:none;
}

a{
    text-decoration: none;
}
/******   common   ******/
.fred{
    color: $red;
}
.mt15{
    margin-top: 15px;
}
.container{
    padding-left: 10px;
    padding-right: 10px;
}

.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}

.borb {
  position: relative;
}
.borb:before {
  content: '';
  display: block;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleY(0.5);
}

/******   header   ******/
#header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    height: 4.4rem;
    width: 100%;
    background: $red;
    overflow: hidden;
    -ms-touch-action: none;
}

#scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 380px;
    height: 4.4rem;
    line-height: 4.4rem;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

#scroller ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

#scroller li {
    width: 90px;
    height: 4.4rem;
    float: left;
    line-height: 4.4rem;
    background-color: $red;
    font-size: 1.4rem;
    overflow: hidden;
    text-align: center;
    color: #fff;
    transition: all .4s;
    &.active{
        background: #c9312d;
        transition: all .4s;
    }
}





/******   footer   ******/
.footer{
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    line-height: 12px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 0px 6px 2px #e5e5e5;
    padding: 5px 0;
    background: #fff;
    a{
        display: block;
        flex : 1;
        color: $gray;
        text-align: center;
        .icon{
            display: inline-block;
            width: 2.4rem;
            height: 2.4rem;
            &.icon-search{
                background: url(../images/icon.png) 0 -126px;
            }
            &.icon-care{
                background: url(../images/icon.png) 3px -171px;
            }
            &.icon-pool{
                background: url(../images/icon.png) 2px -222px;
            }
            &.icon-rmd{
                background: url(../images/icon.png) 2px -271px;
            }
        }
        &.active{
            color: $yellow;
            .icon{
                &.icon-search{
                    background: url(../images/icon.png) -58px -122px;
                }
                &.icon-care{
                    background: url(../images/icon.png) 3px -171px;
                }
                &.icon-pool{
                    background: url(../images/icon.png) 2px -222px;
                }
                &.icon-rmd{
                    background: url(../images/icon.png) 2px -271px;
                }
            } 
        }
    }
}


/******   login   ******/
.login-input-box{
    display: flex;
    margin-top: 25px;
    .login-input{
        flex : 1;
        input{
            width: 100%;
            padding-right: 10px;
            padding-bottom: 10px;
        }
        .icon{
            padding-left: 26px;
        }
    }
    .btn-code{
        width: 142px;
        padding-left: 10px;
        span{
            display: inline-block;
            width: 130px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            color: $red;
            border : 1px solid $red;
            border-radius: 4px;
            cursor: pointer;
        }
    }
}

.login-tip{
    margin-top: 2em;
    line-height: 2.2rem;
    padding: 0 10px;
}
.login-submit{
    display: block;
    width: 100%;
    height: 4rem;
    line-heigrht: 4rem;
    margin-top: 2rem;
    background: $red;
    color: #fff;
    text-align: center;
    outline: none;
    border-radius: 4px;
}


/******   login   ******/
.search{
    position: absolute;
    top: 4.4rem;
    left: 0;
    right: 0;
    padding-bottom: 5.4rem;
    .search-item{
        margin-bottom: 10px;
        .search-head{
            color: $red;
            margin-bottom: 4px;
        }
        .search-body{
            line-height: 2.2rem;
        }
        .search-foot{
            text-align: right;
            margin-top: -5px;
            &>span{
                display: inline-block;
                width: 62px;
                height: 26px;
                line-height : 26px;
                color: #fff;
                text-align: right;
                padding-right: 10px;
                border-radius: 4px;
                background: url(../images/icon.png) 10px -37px $red;
                transition: all .4s;
                &.active{
                    padding-right: 5px;
                    background: url(../images/icon.png) 5px -77px #cecece;
                    transition: all .4s;
                }
            }
        }
    }
}

/******   tag   ******/
.tag{
    padding: 5.6rem 30px 10px 30px;
    height: 200px;
    span{
        border : 1px solid #ddd;
        display: inline-block;
        width: 62px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        margin: 8px;
        border-radius: 4px;
    }
}